<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.2">
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Rowan Seymour</author>
	<description>
		${project.parent.description}
	</description>
	<require_version>${openMRSVersion}</require_version>
	<activator>${project.parent.groupId}.${project.parent.artifactId}.PageCheckActivator</activator>
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>	
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
</module>

